body {
        margin: auto;
        font-size: 14px;
        line-height: 1.2em;
}


div.main {
    padding-top: 2em;
    max-width: 40em;
    margin-left: 2em;
    padding-bottom: 2em;
    overflow: auto;
}

li {
    max-width: 100%;
}

tr {
        padding-top: 4px;
        padding-bottom: 4px;
}

tbody tr:nth-child(2n + 1) {
        background: #eee;
}

table {
        margin: auto;
        width: 100%;
        max-width: 100%
}

td {
        padding-left: 4px;
}

th {
        padding-left: 8px;
        padding-right: 8px;
        white-space: nowrap;
}

a {
    text-decoration: none;
}

.main, .navigation {
    display: inline-block;
}

.navigation {
    right: 1em;
    top: 0;
    bottom 0;
    height: 100%;
    position: fixed;
    overflow-y: scroll;
    overflow-x: scroll;
}


.navigation * {
    margin-top: 0em;
    margin-bottom: 0em;
    padding-left: 0em;

    padding-top: 0em;
    padding-bottom: 0em;
    line-height: normal;
    list-style-type: none;
}

.navigation li.parent {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.navigation ul {
    margin-left: 2.0em;
    background-color: rgba(0,0,0,0.05);
    border-radius: 5px;
    padding: 0.5em;
}

.hidden {
  visibility:hidden;
  opacity:0;
  max-height:0px;
}
